Repository aspect-build/aspect-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, aspect_rules_lint

.pre-commit-config.yaml:

# See instructions in CONTRIBUTING.md
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Commitizen runs in commit-msg stage
# but we don't want to run the other hooks on commit messages
default_stages: [commit]
exclude: \.pb.go$
repos:
  # Locally-authored hooks for better hermeticity
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        description: Runs `go fmt` and asserts no changes are needed.
        entry: ./hooks/go-fmt.sh
        language: script
        files: \.go$
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      # Requires that shellcheck is already installed
      - id: shellcheck
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      # Requires that commitizen is already installed
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 6.4.0
    hooks:
      # Requires that buildifier is already installed
      - id: buildifier
        args: &args
          - --warnings=all
      - id: buildifier-lint
        args: *args
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.0
    hooks:
      - id: insert-license
        files: \.go$
        args:
          # Note: when changing the license_header file, use this to replace existing headers
          # https://github.com/Lucas-C/pre-commit-hooks#removing-old-license-and-replacing-it-with-a-new-one
          - --license-filepath
          - hooks/license_header
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: aspect_rules_lint
        name: Format
        language: system
        entry: bazel run //:format
        files: .*

chore: bazel run //:format -- pkg/aspect/outputs/hash.go
  pkg/aspect/outputs/hash.go
Due: go-fmt, aspect_rules_lint

chore: removed unused files
  pkg/plugin/sdk/v1alpha1/proto/plugin.pb.go
  pkg/plugin/sdk/v1alpha2/proto/plugin.pb.go
  pkg/plugin/sdk/v1alpha3/proto/plugin.pb.go
Due: none

chore: switch to Aspect Workflows on Buildkite
  .aspect/workflows/BUILD.bazel
  .aspect/workflows/README.md
  .aspect/workflows/bazelrc
  .aspect/workflows/config.yaml
  .aspect/workflows/deps.bzl
  .circleci/BUILD.bazel
  .circleci/config.yml
  .circleci/user-config.yml
  .github/workflows/new_issue.yaml
  .prettierignore
  WORKSPACE
  release/BUILD.bazel
  tools/platforms/BUILD.bazel
  yamlfmt.yaml
Due: aspect_rules_lint

chore(cli): import aspect-cli#753 - fix import resolution to use ancestor packages (#7027)
  gazelle/kotlin/imports.go
  gazelle/kotlin/parser/parser.go
  gazelle/kotlin/resolver.go
  gazelle/kotlin/tests/deep_import/BUILD.in
  gazelle/kotlin/tests/deep_import/BUILD.out
  gazelle/kotlin/tests/deep_import/README.md
  gazelle/kotlin/tests/deep_import/WORKSPACE
  gazelle/kotlin/tests/deep_import/maven_install.json
  gazelle/kotlin/tests/deep_import/src/main/java/com/example/deepimport/BUILD.in
  gazelle/kotlin/tests/deep_import/src/main/java/com/example/deepimport/BUILD.out
  gazelle/kotlin/tests/deep_import/src/main/java/com/example/deepimport/DeepImport.kt
  gazelle/kotlin/tests/gcsutil/BUILD.in
  gazelle/kotlin/tests/gcsutil/BUILD.out
  gazelle/kotlin/tests/gcsutil/WORKSPACE
  gazelle/kotlin/tests/gcsutil/gcsutil.kt
  gazelle/kotlin/tests/simple_file2/BUILD.in
  gazelle/kotlin/tests/simple_file2/BUILD.out
  gazelle/kotlin/tests/simple_file2/WORKSPACE
  gazelle/kotlin/tests/simple_file2/lib.kt
Due: go-fmt, aspect_rules_lint

test(cli): add configure type import tests (#7641)
  gazelle/js/tests/npm_simple_deps/BUILD.out
  gazelle/js/tests/npm_simple_deps/dynamic_import/BUILD.out
  gazelle/js/tests/npm_simple_deps/dynamic_type_import/BUILD.in
  gazelle/js/tests/npm_simple_deps/dynamic_type_import/BUILD.out
  gazelle/js/tests/npm_simple_deps/dynamic_type_import/type-imports.ts
  gazelle/js/tests/npm_simple_deps/pnpm-lock.yaml
  gazelle/js/tests/npm_simple_deps/subproject/BUILD.out
Due: aspect_rules_lint

fix(cli): tsx file dependencies from type-only dynamic esm imports (#7645)
  gazelle/js/parser/parser.go
  gazelle/js/tests/npm_simple_deps/dynamic_import_tsx/BUILD.in
  gazelle/js/tests/npm_simple_deps/dynamic_import_tsx/BUILD.out
  gazelle/js/tests/npm_simple_deps/dynamic_import_tsx/d.tsx
  gazelle/js/tests/npm_simple_deps/dynamic_type_import_tsx/BUILD.in
  gazelle/js/tests/npm_simple_deps/dynamic_type_import_tsx/BUILD.out
  gazelle/js/tests/npm_simple_deps/dynamic_type_import_tsx/type-imports.tsx
Due: go-fmt, aspect_rules_lint

feat(cli): declare rules_js js_binary+js_run_binary for use by orion plugins (#7614)
  gazelle/js/kinds.go
Due: go-fmt, aspect_rules_lint

fix(cli): reflect tsconfig tsBuildInfoFile in ts_project(ts_build_info_file) (#7671)
  gazelle/js/generate.go
  gazelle/js/tests/tsconfig_tsbuildinfo/BUILD.in
  gazelle/js/tests/tsconfig_tsbuildinfo/BUILD.out
  gazelle/js/tests/tsconfig_tsbuildinfo/WORKSPACE
  gazelle/js/tests/tsconfig_tsbuildinfo/main.ts
  gazelle/js/tests/tsconfig_tsbuildinfo/tsconfig.json
  gazelle/js/typescript/tsconfig.go
Due: go-fmt, aspect_rules_lint

fix(cli): unescape runfiles entries from manifest #799
  pkg/aspect/outputs/BUILD.bazel
  pkg/aspect/outputs/hash.go
  pkg/bazel/runfiles/BUILD.bazel
  pkg/bazel/runfiles/runfiles.go
  pkg/bazel/runfiles/runfiles_test.go
Due: go-fmt, aspect_rules_lint

fix: handle badly formatted flags-as-proto output from BB CLI (#7719)
  pkg/bazel/bazel.go
Due: go-fmt, aspect_rules_lint

fix(CLI): Error return bug from the outputs verb (#7427)
  pkg/aspect/outputs/outputs.go
Due: go-fmt, aspect_rules_lint

feat(cli): support orion dependencies on npm packages (#7717)
  gazelle/common/set.go
  gazelle/js/generate.go
  gazelle/js/resolve.go
Due: go-fmt, aspect_rules_lint

fix(cli): ensure configure resolution errors are outputted to stdout (#7716)
  gazelle/js/resolve.go
Due: go-fmt, aspect_rules_lint

fix(kilgore): Update marvins to latest designs (#7738)
  gazelle/common/treesitter/grammars/BUILD.bazel
Due: aspect_rules_lint

chore: patch gazelle fix for finding repo root (#7779)
  patches/bazelbuild_bazel-gazelle_aspect-cli.patch
Due: aspect_rules_lint

feat(cli): add Aspect CLI hints (#7813)
  cmd/aspect/BUILD.bazel
  cmd/aspect/main.go
  go.bzl
  go.mod
  go.sum
  pkg/hints/BUILD.bazel
  pkg/hints/hints.go
Due: go-fmt, aspect_rules_lint

fix(cli): misc fixes (#7814)
  integration_tests/aspect/BUILD.bazel
  integration_tests/aspect/hints_test.bats
  pkg/hints/hints.go
Due: go-fmt, aspect_rules_lint

feat(orion): build in java-tree-sitter grammar (#7815)
  gazelle/common/treesitter/BUILD.bazel
  gazelle/common/treesitter/grammars/grammars.bzl
  gazelle/common/treesitter/grammars/java/BUILD.bazel
  gazelle/common/treesitter/grammars/java/binding.go
  gazelle/common/treesitter/parser.go
Due: go-fmt, aspect_rules_lint

feat(cli): add orion yaml query support (#7817)
  go.bzl
  go.mod
  go.sum
  pkg/logger/BUILD.bazel
  pkg/logger/logger.go
Due: go-fmt, aspect_rules_lint

fix(cli): support #keep comments on tsconfig related ts_project attributes (#7803)
  gazelle/js/generate.go
  gazelle/js/kinds.go
  gazelle/js/tests/gazelle_keep/BUILD.in
  gazelle/js/tests/gazelle_keep/BUILD.out
  gazelle/js/tests/gazelle_keep/tsconfig.json
  gazelle/js/tests/tsconfig_disabled_manual/BUILD.in
  gazelle/js/tests/tsconfig_disabled_manual/BUILD.out
  gazelle/js/tests/tsconfig_disabled_manual/WORKSPACE
  gazelle/js/tests/tsconfig_disabled_manual/main.ts
Due: go-fmt, aspect_rules_lint

chore: move fetching of gazelle and tree-sitter into bzl utils (#7824)
  gazelle/BUILD.bazel
  gazelle/deps.bzl
Due: aspect_rules_lint

feat(cli): add experimental opt-in aspect-configure progress message (#7334)
  gazelle/common/progress/BUILD.bazel
  gazelle/common/progress/progress.go
  pkg/aspect/configure/BUILD.bazel
  pkg/aspect/configure/configure.go
Due: go-fmt, aspect_rules_lint

fix(cli): windows compilation of terminal usage (#7845)
  gazelle/common/progress/BUILD.bazel
  gazelle/common/progress/progress.go
Due: go-fmt, aspect_rules_lint

fix(cli): handle empty maven_install.json files in kotlin orion plugin (#7840)
  gazelle/kotlin/tests/simple_empty_maven/BUILD.in
  gazelle/kotlin/tests/simple_empty_maven/BUILD.out
  gazelle/kotlin/tests/simple_empty_maven/WORKSPACE
  gazelle/kotlin/tests/simple_empty_maven/lib.kt
  gazelle/kotlin/tests/simple_empty_maven/libs.kts
  gazelle/kotlin/tests/simple_empty_maven/maven_install.json
Due: aspect_rules_lint

fix(cli): crash with tsconfig rootDir and partial path match (#7842)
  gazelle/js/typescript/tsconfig.go
  gazelle/js/typescript/tsconfig_test.go
Due: go-fmt, aspect_rules_lint

fix(cli): persist generated js package rule metadata during configure (#7843)
  gazelle/js/generate.go
Due: go-fmt, aspect_rules_lint
